@font-face {
    font-family: SuisseIntl-SemiBold;
    src: url("font/SuisseIntl-SemiBold.otf");
    }
@font-face {
    font-family: SuisseIntl-Regular;
    src: url("font/SuisseIntl-Regular.otf");
    }

    h1, h2, h3, h4, .arrivalTime,.minuteBefore,button,h5 {
        font-family: SuisseIntl-SemiBold;
    }
    p,label,span{
        font-family: SuisseIntl-Regular;
    }
    h1{
        font-size: 60px;
        margin-top: 100px;
        text-align: center;
        grid-column: 1/13;
        z-index: 2;
    }
    h2{
        font-size:36px;
        text-align: center;
        grid-column: 1/13;
        z-index: 2;
        margin-top:50px;
    }
    h3{
        font-size:21px;
        color:black;
        z-index: 2;
    }
  
    h4{
        font-size:21px;
        z-index: 2;
        margin:10px 0 5px 0;
    }
    label{
        font-size:21px;
    }
    h5{
        font-size: 16px;
        z-index: 2;
    }

    p{
        font-size: 16px;
    }

    body{
        display: grid;
        grid-template-columns: repeat(12,1fr);
        
    }
    h1{

    }
    .columnForIntros{
        grid-column: 4/10;
    }
    .intro{
        top:396px;
    }
    .background{
        top:0;
        left:0;
        position: absolute;
        z-index: 1;
        height: 100%;
        width:100%;
        background-color: #E5616F; /* For browsers that do not support gradients */
        background-image: linear-gradient(to bottom,#FBD384,#E5616F);
      
    }
    button{
        background-color: transparent;
        border:solid;
        border-width:2px;
        color:black;
        z-index: 2;
        font-size: 26px;
        grid-column: 5/9;
        padding:5px 15px 5px 15px;
        margin-top:50px;
        cursor: pointer;
    }
    button:hover{
        background-color:black;
        color:white;
        border:none;
    }
    input[type=text]{
        z-index:2;
        border:solid;
        border-width:2px;
        color:black;
        background-color:transparent;
        font-size: 21px;
        grid-column: 4/10;
        padding:8px 8px 8px 8px;
        margin:20px 0 20px 0;
        
    }
    section{
        grid-column: 4/10;
        z-index: 2;
        margin-top:10px;
    }
    #preferredTime{
        margin: 10px 10px 10px 0 ;
    }
    .pretty .state label:before {
        border-color: black;
    }
    .pretty{
        z-index:100;
    }
    span{
        font-size:11px;
        opacity:.5;
        padding: 0 40px 0 5px;
    }
    button#googleCalendar{
        font-size:21px;
        color:white;
        background-color: #4A90E2;
        border:none;
        padding:8px 8px 8px 8px;
    }
    #siteSearch {
        text-align: left;
        color: black;
        grid-column: 2/4;
        font-size:11px;
        border:solid;
        border-image:linear-gradient(180deg, #FBD384 0%, #E5616F 100%);
        border-image-slice: 0 30% 30;
        padding: 0 0 0 10px;
    }
    label img{
        margin-left: 6vw;
    }
    #container-for-content{
        margin-top:80px;
        grid-column: 2/12;
    }
    .bullet{
        height: 20px;
        width: 20px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        background-image: linear-gradient(180deg, #FBD384 0%, #E5616F 100%);
       margin:0 20px 0px 0;
       
    }
.arivalTime, .minuteBefore{
    font-size:21px;
    z-index: 2;
    margin:10px 0 5px 0;
}
.date{
    margin-left: -20px;
}
.event{
    margin: 15px 0 15px 20px;
    width:100%;
    display: inline-block;
    border:solid;
    border-image:linear-gradient(-90deg, #FBD384 0%, #E5616F 100%);
    border-image-slice: 0 0% 25;
}
.eventTitle{
    width:20vw;
    display: inline-block;
}
.address{
    width:20vw;
    opacity:.5;
    display: inline-block;
    margin-top: 5px;
    font-size:11px;
}
.arrivalTimeClass{
    width:20vw;
    display: inline-block;
}
.minutesBeforeClass{
    width:20vw;
    display: inline-block;
}
input.minuteBefore{
    width:15px;
    height:20px;
    padding: 5px 15px 5px 15px;
    margin: 0 5px 0 5px;
    border:none;
    background: linear-gradient(-90deg, #FBD384 0%, #E5616F 100%);
}
a{
    text-decoration: none;
    color:black;
}
a:hover{
    color:white;
}